MONGODB_URI = 

PORT = 3000

CORS_ORIGIN = *
#("https://example.com" add frontend link in CORS_ORIGIN);

ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRY = 

REFRESH_TOKEN_SECRET = 
REFRESH_TOKEN_EXPIRY = 
